In [39]:
# Lists
nums = [1, 4, 7, 34, 94]
cities = [
    "Paris", 
    "London",
    "Vienna",
    "Brussels",
]
compound = [nums, cities]

In [40]:
# Tuples
tup = (1, 4, 7, 1, 12)

In [41]:
# Strings

name = "Thebault"

In [42]:
# Indexing, Slicing

print(cities[2])
print(cities[:3])
print(cities[2:])
print(cities[::2])
print(cities[::-1])
print(name[1:6])

Vienna
['Paris', 'London', 'Vienna']
['Vienna', 'Brussels']
['Paris', 'Vienna']
['Brussels', 'Vienna', 'London', 'Paris']
hebau

In [43]:
# Methods

cities.append("Amsterdam")
cities.insert(1, "Berlin")
cities.sort(reverse=True)

In [44]:
print(cities)

print("Belfast" in cities)

for i, city in enumerate(cities):
    print(i+1, city)

['Vienna', 'Paris', 'London', 'Brussels', 'Berlin', 'Amsterdam']
False
1 Vienna
2 Paris
3 London
4 Brussels
5 Berlin
6 Amsterdam

In [45]:
def fibonacci(n):
    a, b = 0, 1
    res = [a]
    while b < n:
        a, b = b, a + b
        res.append(a)
    return res

In [46]:
print(fibonacci(100000))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025]